body {
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #fff;
}

/* 'Exit back to build' Button in Top Left */
#top-left-controls {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

#back-to-build-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

#back-to-build-button:hover {
  opacity: 0.8;
}


/* Reccomendations formatting */

.recs-container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
}

.recs-column {
  flex: 1;
  min-width: 45%;
}

.section-heading {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.match-card {
  background-color: #3a2423;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;
}

.match-title-box {
  background-color: #ce4125;
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 10px;
}

.match-title {
  color: white;
  margin: 0;
  font-size: 1.2em;
}

.match-video {
  width: 100%;
  height: 315px;
}

.copy-button {
  background-color: #ff5f5f;
  color: white;
  border: none;
  padding: 8px 16px;
  margin: 10px auto 0;
  display: block;
  border-radius: 6px;
  cursor: pointer;
}

.no-recs {
  color: white;
  text-align: center;
}
