/* Grid background */
.grid-bg {
    position: absolute;
    width: 90%;
    height: 90%;
    background-image:
      linear-gradient(var(--border-color) 1px, transparent 1px),
      linear-gradient(90deg, var(--border-color) 1px, transparent 1px);
    background-size: 50px 50px;
  }
  
  /* Grid center + button */
  .plus-button {
    position: absolute;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    bottom: 45%;
    z-index: 5;
    pointer-events: auto; /* Just make it easier to click */
      
  }
  .popup-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
  }
  
  .hidden {
    display: none;
  }
  
  /* Sidebar content */
  .toggle-button,
  .floor-button {
    font-size: var(--font-size-heading);
    font-weight: bold;
  }
  
  .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--border-color);
    padding: 5px;
    border-radius: 4px;
  }
  
  .category label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }
  
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }
  
  .floor-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  
  .floor-row {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .floor-row input {
    flex: 1;
    padding: 6px 8px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background: #b66a55;
    color: white;
  }
  
  .floor-row button {
    padding: 6px 8px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: #444;
    color: white;
  }
  
  /* Add button below floors */
  .floor-add-button {
    padding: 6px 0;
    font-size: 16px;
    width: 100%;
    border: none;
    background: white;
    color: black;
    border-radius: 4px;
    cursor: pointer;
  }

  
/* Define Shape types for drawing */
  /* Shared tile style */
.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    z-index: 5;
  }
  
  /* Square tile style */
  .tile-square {
    background: #e26a4a;
  }
  
  /* Triangle tile style */
  .tile-triangle {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;  /* base / 2 */
    border-right: 40px solid transparent;
    border-bottom: 69.28px solid #e26a4a;     /* ≈ 0.866 * 80 -> visually close to equilateral but not quite as the alternative is doing this in JS where you can do matsh and that sounds unpleasant to say the least */
    position: absolute;
    pointer-events: none;
    z-index: 1;
  }
  
  
  