<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Blackjack</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/blackjack.css') }}">
</head>
<body>
  <!-- Top Nav Bar -->
  <div class="top-bar">
    <a href="{{ url_for('login') }}"><button class="top-button">Logout</button></a>
    <a href="{{ url_for('saves') }}"><button class="top-button">Saves</button></a>
    <a href="{{ url_for('blackjack') }}"><button class="top-button active">Blackjack</button></a>
  </div>

  <!-- Blackjack Game Layout -->
  <div class="blackjack-game">
    <div class="left-panel-bj">
      <div class="bj-hand-block">
        <div class="bj-text-block">
          <p><strong>Dealer Hand</strong><br></p>
        </div>
        <div class="bj-card-box" id="dealer-hand">
          <!-- Dealer Hand -->
            <img class="card-img" src="{{ url_for('static', filename='elements/RustCards/back.png') }}" alt="Back of Card">
            <img class="card-img" src="{{ url_for('static', filename='elements/RustCards/back.png') }}" alt="Back of Card">
        </div>
      </div>

      <div class="bj-multiplier-pot" id="multiplier">
        <span>1x multiplier</span>
        <span class="bj-pot" id="pot">Pot: XXX Scrap</span>
      </div>

      <div class="bj-hand-block">
        <div class="bj-card-box" id="player-hand">
        <!-- Player Hand -->
          <img class="card-img" src="{{ url_for('static', filename='elements/RustCards/back.png') }}" alt="Back of Card">
          <img class="card-img" src="{{ url_for('static', filename='elements/RustCards/back.png') }}" alt="Back of Card"> 
        </div>
        <div class="bj-text-block">
          <p><strong>Your Hand</strong><br></p>
        </div>
      </div>
    </div>


    <div class="right-panel-bj">
      <p id="player-balance">Balance: 1000 Scrap</p>

      <!-- Bet Input Section -->
      <div class="bet-input-section">
        <label for="bet-amount-input"><strong>Bet:</strong></label>
        <input type="number" id="bet-amount-input" min="1" placeholder="Enter bet">
        <button class="bj-button" onclick="startNewRound()">Enter</button>
      </div>

      <button class="bj-button" onclick="hit()">HIT</button>
      <button class="bj-button" onclick="stand()">STAND</button>
    </div>
  </div>

  <div id="bust-animation" class="bust-hidden">BUST!</div>

  <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/blackjack.js') }}"></script>

</body>
</html>
