<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Login</title>

  <!-- Link external CSSes -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>


<body>

  <!-- Title at top -->
  <div class="construct-title">
    <span class="title-left">Re</span><span class="title-right">Struct</span><span class="title-left">ure</span> <!--Find a nice name I got tired of the old one-->
  </div>
  <!-- Login form container -->
  <div class="login-container">
    <h2>Login</h2>
    <form id="login-form" method="POST" action="/login">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required>
    
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    
      <button type="submit" class="login-btn">Login</button>
    </form>

  <!-- Placeholder for messages -->
  <div id="message"></div>

  <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html>