<!-- Switched to jinja file type to accomodate the id being passed through the redirect -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Saves</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/saves.css') }}">
</head>
<body>
  <!-- Top Nav Bar -->
  <div class="top-bar">
    <a href="{{ url_for('login') }}"><button class="top-button">Login</button></a>
    <a href="{{ url_for('saves') }}"><button class="top-button active">Saves</button></a>
    <a href="{{ url_for('recs') }}"><button class="top-button">Recs</button></a>
    <a href="{{ url_for('blackjack') }}"><button class="top-button">Blackjack</button></a>
  </div>

  <!-- Save Cards -->
  <div class="save-cards-container">
    {% for build in user_builds %} <!-- Iterate through database to create a div element for each stored build-->
    <div class="save-card">
      <div class="save-header">
        <span id="build-name-{{ build.id }}" class="editable-name">{{ build.build_name }}</span>
        <button class="edit-button" onclick="startRename({{ build.id }})">✎</button>  <!-- Jinja structure used to pass id -->
      </div>

      <button class="add-button" onclick="openBuild({{ build.id }})">Load</button>
    </div>
    {% endfor %}

    <!-- New Build Card -->
    <div class="save-card add-card">
      <button class="add-button" onclick="createNewBuild()">+</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/saves.js') }}"></script>  
</body>
</html>